/*_variables.scss */
/* Body Text Styles */
$text-color: black;
$text-color-orange: orangered;
$text-color-white: #FFF;
$footer-text-color: white;
$footer-gray: #646464;
$text-light-blue: #7EC8E3;
$text-light-gray: #efefef;
/*Fonts*/
$base-font-size: 16px;
$base-font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
$base-font-weight: 400;
$title-font-weight: 600;
/*Sizes*/
$img-width: 270px;
$img-height: 160px;
$img-single-width: 800px;
$img-single-height: 400px;
$logo-container: 400px;
$desktop-space: 120px; 
$footer-height: 80px;
/*Page Spaces*/
$spaces-extra-large: 269px;
$spaces-large : 60px;
$spaces-medium : 30px;
$spaces-small : 15px;